<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Clueless Chatroom</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='chatstyle.css')}}"/>
    <script src="{{ url_for('static', filename='functions.js') }}"></script>
    <style>
    </style>
</head>
<body>
    <div class="chat">
        <div id="chat-messages">
            {% for message in messages %}
            <div class="chat-message">
                <p>{{ message.message }}</p>
                {% if authenticated %}
                    {% if username in message.likers %}
                        <a href="{{ url_for('unlike', id=message.id) }}">Unlike</a>
                    {% else %}
                        <a href="{{ url_for('like', id=message.id) }}">Like</a>
                    {% endif %}
                    Likes: {{ message.likes }}
                {% endif %}
            </div>
            {% endfor %}
        </div>

        <div class="chat-form">
            <div class="input">
                <label>
                    <input id="textbox" type="text" placeholder="Type here!">
                </label>
                <button id="chat-button" onclick="sendChat()">Send</button>
            </div>
        </div>

    </div>

    <div class="movethisbutton">
        <button id="leave" onclick="chatRoomLeave()">Go Back</button>
    </div>

    <script>
    </script>
</body>
</html>