<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<title>Page Title</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}"/>
<script src="{{url_for('static', filename='functions.js')}}"></script>
<style>
</style>
<script src=""></script>
<body>

<div class="header">
 <h1>Welcome to the CLUELESS 312 website!</h1>
</div>

<div class="image_div">
        <img src="{{url_for('static', filename='clue.JPG')}}" alt="picture machine broke :( " class="clue_image">
</div>

<button type="button" id="background_buttonred">Change background to red</button>
<button type="button" id="background_buttonblue">Change background to blue</button>

<div class="forms">
        <div class="register_form">
        <form action="/register" method="post" enctype="application/x-www-form-urlencoded">
                <div>
                       <label>Username</label>
                       <input name="username" type="text" required> 
                </div>
                <div>
                       <label>Password</label>
                       <input name="password" type ="password" required> 
                </div>
                <div>
                        <button type="submit">Register</button>
                </div>
                
                
        </form>
</div>

<div class="login_form">
        <form action="/login" method="post" enctype="application/x-www-form-urlencoded">
                <div>
                       <label>Username</label>
                       <input name="username" type="text" required> 
                </div>
                <div>
                       <label>Password</label>
                       <input name="password" type ="password" required> 
                </div>
                <div>
                        <button type="submit">Log-in</button>
                </div>
                
                
        </form>
</div>
</div>

<div class="logged_in_stuff" hidden>
    <div class="show_name">
        <p id="paragraph">
            Welcome, {{user_name_here}}
        </p>
    </div>

    <div class = "logout-btn">
        <br/>
        <form action="/logout" method="post">
            <input type="submit" name="logout" value="Log Out" />
        </form>
    </div>
</div>


</body>
</html>